<ion-modal-view>
    <ion-header-bar>
      	<h1 class="title">Sign In</h1>
      	<div class="buttons">
            <button class="button button-icon icon ion-ios7-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false">
      	<div class="list list-inset">
		  <label class="item item-input">
		    <input type="email" placeholder="Email" ng-model="data.email">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="data.password">
		  </label>
		</div>
		<div class="padding">
        	<button class="button button-block button-royal" ng-click="login()">Sign In</button>
      	</div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="authenticate('facebook')">Sign in with Facebook</button>
        </div>
        <div class="padding">
          <button class="button button-block button-calm" ng-click="authenticate('twitter')">Sign in with Twitter</button>
        </div>
    </ion-content>
 </ion-modal-view>